<div class="card">
  <div class="card-header prioridad<%= orden.prioridad %>">
    <h2>ORDEN: <%= orden.nrocompro %></h2>
    <h3><%= orden.codigo %> - <%= orden.nombre %></h3>
  </div>
  <div class="card-body">
    <!--  -->
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-light text-uppercase">
        Estado: <%= orden.estado %>
      </li>
      <li class="list-group-item bg-light text-uppercase">
        Diagnostico: <%= orden.diag %>
      </li>
      <li class="list-group-item bg-light text-uppercase">
        Ubicacion: <%= orden.ubicacion %>
      </li>
      <li class="list-group-item bg-light text-uppercase">
        Prioridad: <%= orden.prioridad %>
      </li>

      <li class="list-group-item bg-light">
        TELEFONO:
        <a
          target="_blank"
          href="whatsapp://send/?phone=<%= orden.telefono %>&text=Hola, nos comunicamos de Sinapsis SRL..."
        >
          <%= orden.telefono %>
        </a>
      </li>
      <li class="list-group-item bg-light">ARTICULO: <%= orden.descart %></li>
      <li class="list-group-item bg-light">FALLA: <%= orden.falla %></li>
      <li class="list-group-item bg-light">
        ACCESORIOS: <%= orden.accesorios %>
      </li>
      <li class="list-group-item bg-light">TECNICO: <%= orden.tecnico %></li>

      <!-- DIAGNOSTICO -->
      <li class="list-group-item bg-light">
        DIAGNOSTICO TECNICO: <%= orden.diagnostico %>
      </li>
    </ul>
  </div>
</div>
