<!-- Tabla con ordenes -->
<div class="container-fluid p-0">
  <!-- Accordion -->
  <div class="accordion" id="accordionOrdenes">
    <% ordenes.forEach(orden => { %>
    <div class="accordion-item bg-transparent border-0">
      <div class="row justify-content-around m-0">
        <div class="col-9">
          <button
            class="accordion-button collapsed prioridad<%= orden.prioridad %>"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse<%= orden.nrocompro %>"
            aria-expanded="false"
            aria-controls="collapse<%= orden.nrocompro %>"
          >
            <div class="col">#<%= fila += 1 %></div>
            <div class="col"><%= orden.ingresado%></div>
            <div class="col"><%= orden.nrocompro%></div>
            <div class="col"><%= orden.nombre%></div>
            <div class="col"><%= orden.prioridad%></div>
            <div class="col"><%= orden.tecnico%></div>
          </button>
          <div
            id="collapse<%= orden.nrocompro %>"
            class="accordion-collapse collapse"
            aria-labelledby="heading<%= orden.nrocompro %>"
            data-bs-parent="#accordionOrdenes"
          >
            <div class="accordion-body">
              <!-- Detalle Orden -->
              <div class="card prioridad<%= orden.prioridad %>">
                <div class="card-header">
                  <%= orden.codigo %> - <%= orden.nombre %>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item bg-light text-uppercase">
                    Estado: <%= orden.estado %>
                  </li>
                  <li class="list-group-item bg-light text-uppercase">
                    Diagnostico: <%= orden.diag %>
                  </li>
                  <li class="list-group-item bg-light text-uppercase">
                    Ubicacion: <%= orden.ubicacion %>
                  </li>

                  <li class="list-group-item bg-light">
                    TELEFONO:
                    <a
                      target="_blank"
                      href="whatsapp://send/?phone=<%= orden.telefono %>&text=Hola, nos comunicamos de Sinapsis SRL..."
                    >
                      <%= orden.telefono %>
                    </a>
                  </li>
                  <li class="list-group-item bg-light">
                    ARTICULO: <%= orden.descart %>
                  </li>
                  <li class="list-group-item bg-light">
                    FALLA: <%= orden.falla %>
                  </li>
                  <li class="list-group-item bg-light">
                    ACCESORIOS: <%= orden.accesorios %>
                  </li>

                  <!-- DIAGNOSTICO -->
                  <li class="list-group-item bg-light">
                   
                    <form class="form_diagnostico" id="<%= orden.nrocompro %>">
                      <div class="mb-3 border border-primary p-2 rounded">
                        <label for="diagnostico<%= orden.nrocompro %>">DIAGNOSTICO TECNICO:</label>
                        <textarea
                          class="form-control mb-2"
                          name="diagnostico"
                          id="diagnostico<%= orden.nrocompro %>"
                        >
<%= orden.diagnostico %></textarea
                        >
                        <label for="manoDeObra<%= orden.nrocompro %>">MANO DE OBRA</label>
                        <input value="<%= orden.costo %>" type="number" class="list-group-item bg-light" id="manoDeObra<%= orden.nrocompro %>">
                         
                      </input>
                      </div>

                      <button
                        type="submit"
                        class="btn btn-primary btn_guardar_diagnostico"
                      >
                        Guardar
                      </button>
                    </form>
                  </li>
               
                  <li class="list-group-item bg-light"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3">
          <% if(tomar){ %>

          <button
            class="btn btn-primary btn-sm btn_tomar"
            id="<%= orden.nrocompro%>"
          >
            Tomar
          </button>

          <% } %> <% if (orden.estado === "En Proceso") { %>
          <div class="btn-group">
            <button
            class="btn btn-success btn-sm btn-cerrar"
            id="<%= orden.nrocompro%>-cerrar"
            diagnostico="reparado"
            >
            Cerrar
            </button>
            <button
            class="btn btn-danger btn-sm btn-cerrar"
            id="<%= orden.nrocompro%>-sinReparacion"
            diagnostico="sinreparacion"
            >
            Sin Reparacion
            </button>
        </div>
        <% } %>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
