<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- NAV -->
    <%- include("./partials/navbar.ejs") %>
    <div class="container-fluid pt-5 min-vh-100" id="main">
      <div class="container pt-4" id="content">
        <!-- Contenido -->
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6 bg-light rounded-3 p-3">
            <form method="POST" id="form_articulo_orden">
              <div class="mb-3">
                <div class="mb-4 border border-info border-1 p-3 rounded-3">
                  <span class="text-uppercase"
                    >usuario: <%= usuario.nombre%></span
                  >
                  <span class="text-uppercase" id="print_date"></span>
                </div>

                <div class="mb-4 border border-info border-1 p-3 rounded-3">
                  <!-- Lista tecnicos -->
                  <label for="tecnico" class="form-label d-block mb-2"
                    >Tecnico</label
                  >
                  <select class="form-select" name="tecnico" id="tecnico">
                    <option value="">Tecnicos</option>
                    <% form.tecnicos.forEach(tecnico => { %>
                    <option value="<%= tecnico.nombre%>">
                      <%= tecnico.nombre%>
                    </option>
                    <% }) %>
                  </select>
                </div>
                <div class="mb-4 border border-info border-1 p-3 rounded-3">
                  <!-- Orden reparacion -->
                  <label for="ordenReparacion" class="form-label d-block mb-2"
                    >Orden de Reparacion</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="ordenReparacion"
                    name="ordenReparacion"
                    aria-describedby="ordenReparacionHelp"
                    placeholder="Ingresar los ultimos 5 numeros de la orden"
                    minlength="5"
                    maxlength="5"
                  />
                  <div class="descripcion_orden mt-2"></div>
                </div>
                <div class="mb-4 border border-info border-1 p-3 rounded-3">
                  <!-- Codigo articulo -->
                  <label for="codigoArticulo" class="form-label d-block mb-2"
                    >Codigo Articulo</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="codigoArticulo"
                    name="codigoArticulo"
                  />
                  <div class="descripcion_articulo mt-2"></div>
                </div>
                <div class="mb-4 border border-info border-1 p-3 rounded-3">
                  <!-- Numero de Serie -->
                  <label for="numeroSerie" class="form-label d-block mb-2"
                    >Numero de Serie</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="numeroSerie"
                    name="numeroSerie"
                  />
                </div>
              </div>

              <button type="button" class="btn btn-primary" id="btn_buscar">
                BUSCAR
              </button>
            </form>
            <div class="row">
              <div class="col-12">
                <button
                  type="button"
                  class="btn btn-success d-none my-3 me-3"
                  id="btn_confirmar"
                >
                  CONFIRMAR
                </button>
                <button
                  type="button"
                  class="btn btn-warning d-none my-3 me-3"
                  id="btn_modificar"
                >
                  MODIFICAR
                </button>
                <button
                  type="button"
                  class="btn btn-danger d-none my-3"
                  id="btn_cancelar"
                >
                  CANCELAR
                </button>
                <div class="col-12">
                  <button
                    type="button"
                    class="btn btn-info d-none my-3 me-3"
                    id="btn_imprimir"
                  >
                    IMPRIMIR
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary d-none"
                    id="btn_nueva_busqueda"
                  >
                    NUEVA BUSQUEDA
                  </button>
                </div>
              </div>
              <div class="col-12">
                <div class="error text-danger fw-bold d-none mt-3"></div>

                <div class="info d-none d-flex align-items-center">
                  <div
                    class="spinner-border text-primary me-3"
                    role="status"
                    aria-hidden="true"
                  ></div>
                  <strong>Ingresando articulo...</strong>
                </div>
                <div class="success text-success fw-bold d-none">
                  <p>Se ingreso articulo!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <%- include("./partials/js.ejs") %>
    <script src="/js/ingresarArticuloOrden.js"></script>
  </body>
</html>
