<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- NAV -->
    <%- include("./partials/navbar.ejs") %>
    <div class="container-fluid pt-5 min-vh-100" id="main">
      <div class="container pt-4" id="content">
        <!-- Contenido -->
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 bg-light rounded-3 p-3">
            <form method="POST" id="form_articulo_orden">
              <div class="mb-3">
                <div class="mb-2 border border-info border-1 p-3 rounded-3">
                  <span class="text-uppercase fw-bold"
                    >usuario: <%= usuario.nombre%></span
                  >
                  <span class="text-uppercase fw-bold" id="print_date"></span>
                </div>

                <div class="mb-2 border border-info border-1 p-3 rounded-3">
                  <!-- Lista tecnicos -->
                  <label for="tecnico" class="form-label d-block mb-2 fw-bold"
                    >Tecnico</label
                  >
                  <select class="form-select" name="tecnico" id="tecnico">
                    <option value="">Tecnicos</option>
                    <% form.tecnicos.forEach(tecnico => { %>
                    <option value="<%= tecnico.nombre%>">
                      <%= tecnico.nombre%>
                    </option>
                    <% }) %>
                  </select>
                </div>
                <div class="mb-2 border border-info border-1 p-3 rounded-3">
                  <!-- Orden reparacion -->
                  <label
                    for="orden_reparacion"
                    class="form-label d-block mb-2 fw-bold"
                    >Orden de Reparacion</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="orden_reparacion"
                    name="orden_reparacion"
                    aria-describedby="orden_reparacionHelp"
                    placeholder="Ingresar los ultimos 5 numeros de la orden"
                    minlength="5"
                    maxlength="5"
                  />
                  <div class="descripcion_orden mt-2"></div>
                </div>
                <div class="mb-2 border border-info border-1 p-3 rounded-3">
                  <!-- Numero de Serie -->
                  <label
                    for="numero_serie"
                    class="form-label d-block mb-2 fw-bold"
                    >Numero de Serie</label
                  >
                  <input
                    type="text"
                    class="form-control mb-3"
                    id="numero_serie"
                    placeholder="Numero de serie"
                    name="numero_serie"
                  />

                  <div class="descripcion_serie mt-3 text-danger"></div>
                </div>
                <div class="mb-2 border border-info border-1 p-3 rounded-3">
                  <!-- Codigo articulo -->
                  <label
                    for="codigo_articulo"
                    class="form-label d-block mb-2 fw-bold"
                    >Codigo Articulo</label
                  >

                  <input
                    type="text"
                    class="form-control mb-3"
                    id="codigo_articulo"
                    name="codigo_articulo"
                    placeholder="Codigo Articulo"
                  />
                  <div class="descripcion_articulo mb-3"></div>

                  <!-- BUSCAR ARTICULO -->
                  <div class="border border-success border-1 p-3 rounded-3">
                    <label
                      for="busqueda_articulo_descrip"
                      class="form-label d-block mb-2"
                      >Buscar Articulo</label
                    >
                    <input
                      class="form-control"
                      type="search"
                      placeholder="Buscar Articulo"
                      name="busqueda_articulo_descrip"
                      id="busqueda_articulo_descrip"
                    />

                    <div class="container d-none" id="table_articulos">
                      <table class="table table-sm">
                        <thead>
                          <tr>
                            <th scope="col">Codigo</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Cantidad</th>
                          </tr>
                        </thead>
                        <tbody id="tbody_articulos"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <button type="button" class="btn btn-primary" id="btn_consultar">
                CONSULTAR
              </button>
            </form>
            <div class="col-12">
              <div class="error text-danger fw-bold d-none mt-3"></div>

              <div class="info d-none d-flex align-items-center">
                <div
                  class="spinner-border text-primary me-3"
                  role="status"
                  aria-hidden="true"
                ></div>
                <strong>Ingresando articulo...</strong>
              </div>
              <div class="success text-success fw-bold d-none">
                <p class="mb-0">Se ingreso articulo!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button
                  type="button"
                  class="btn btn-success d-none my-3 me-3"
                  id="btn_confirmar"
                >
                  CONFIRMAR
                </button>
                <button
                  type="button"
                  class="btn btn-warning d-none my-3 me-3"
                  id="btn_modificar"
                >
                  MODIFICAR
                </button>
                <button
                  type="button"
                  class="btn btn-danger d-none my-3"
                  id="btn_cancelar"
                >
                  CANCELAR
                </button>
                <div class="col-12">
                  <button
                    type="button"
                    class="btn btn-info d-none my-3 me-3"
                    id="btn_imprimir"
                  >
                    IMPRIMIR
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary d-none"
                    id="btn_nueva_busqueda"
                  >
                    NUEVA BUSQUEDA
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <%- include("./partials/js.ejs") %>
    <script src="/js/ingresar_articulo_orden.js"></script>
    <script src="/js/buscar_input_form.js"></script>
    <script src="/js/articulo_seleccionado.js"></script>
  </body>
</html>
