<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- NAV -->
    <%- include("./partials/navbar.ejs") %>
    <div class="container-fluid pt-5 min-vh-100" id="main">
      <div class="container pt-4" id="content">
        <!-- Contenido -->
        <div class="row">
          <!-- Card Orden -->
          <% if(orden.length !== 0) { %>
          <div class="col-md-6 my-3">
            <!-- Card Orden -->
            <%- include("./partials/card_orden.ejs") %>
          </div>
          <div class="col-md-6 my-3">
            <!-- Articulos que contiene Orden -->
            <%- include("./partials/card_articulos_orden.ejs") %>
          </div>
          <% } else { %>
          <div class="row justify-content-center">
            <div class="col-12 col-lg-4">
              <div class="alert alert-danger text-center" role="alert">
                NO EXISTE ORDEN!!!
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <!-- JS -->
    <%- include("./partials/js.ejs") %>
    <script src="/js/salida_orden.js"></script>
  </body>
</html>
