<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <!-- NAV -->
    <%- include("./partials/navbar.ejs") %>
    <div class="container-fluid pt-5 min-vh-100" id="main">
      <div class="container pt-4" id="content">
        <!-- Contenido -->

        <!-- Cabecera -->
        <div class="container mb-3 p-0">
          <div class="row justify-content-center">
            <div class="col-12 col-lg-3">
              <ul class="list-group">
                <li
                  class="list-group-item active d-flex justify-content-between align-items-center"
                >
                  Tabla: <%= titulo %>
                  <span class="badge bg-primary rounded-pill"></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Total Ordenes
                  <span class="badge bg-primary rounded-pill"
                    ><%= ordenes.length %></span
                  >
                </li>
                <% if(reparaciones_por_dia){ %>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Reparaciones x dia
                  <span class="badge bg-primary rounded-pill"
                    ><%= reparaciones_por_dia %></span
                  >
                </li>
                <% } %> <% if(demora){ %>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center"
                >
                  Demora
                  <span class="badge bg-primary rounded-pill"
                    ><%= demora %></span
                  >
                </li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>

        <!-- Tabla con ordenes -->
        <div class="container p-0">
          <!-- Accordion -->
          <div class="accordion" id="accordionOrdenes">
            <% ordenes.forEach(orden => { %>
            <div class="accordion-item bg-transparent border-0">
              <div class="row justify-content-around m-0">
                <div class="col">
                  <button
                    class="accordion-button collapsed prioridad<%= orden.prioridad %>"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse<%= orden.nrocompro %>"
                    aria-expanded="false"
                    aria-controls="collapse<%= orden.nrocompro %>"
                  >
                    <div class="col-1">#<%= fila += 1 %></div>
                    <div class="col-1"><%= orden.ingresado%></div>
                    <div class="col-1<%= orden.falla.includes("TURNO") | orden.falla.includes("turno")  ? " fw-bold text-white bg-dark" : "" %>"><%= orden.nrocompro%></div>
                    <div class="col"><%= orden.nombre%></div>
                    <div class="col"><%= orden.prioridad%></div>
                    <div class="col-1"><%= orden.tecnico%></div>
                    <div class="col-1"></div>
                  </button>
                  <div
                    id="collapse<%= orden.nrocompro %>"
                    class="accordion-collapse collapse"
                    aria-labelledby="heading<%= orden.nrocompro %>"
                    data-bs-parent="#accordionOrdenes"
                  >
                    <div class="accordion-body">
                      <!-- Detalle Orden -->
                      <div class="card prioridad<%= orden.prioridad %>">
                        <div class="card-header">
                          <%= orden.codigo %> - <%= orden.nombre %>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item bg-light text-uppercase">
                            Estado: <%= orden.estado %>
                          </li>
                          <li class="list-group-item bg-light text-uppercase">
                            Diagnostico: <%= orden.diag %>
                          </li>
                          <li class="list-group-item bg-light text-uppercase">
                            Ubicacion: <%= orden.ubicacion %>
                          </li>

                          <li class="list-group-item bg-light">
                            TELEFONO:
                            <a
                              target="_blank"
                              href="whatsapp://send/?phone=<%= orden.telefono %>&text=Hola, nos comunicamos de Sinapsis SRL..."
                            >
                              <%= orden.telefono %>
                            </a>
                          </li>
                          <li class="list-group-item bg-light">
                            ARTICULO: <%= orden.descart %>
                          </li>
                          <li class="list-group-item bg-light">
                            FALLA: <%= orden.falla %>
                          </li>
                          <li class="list-group-item bg-light">
                            ACCESORIOS: <%= orden.accesorios %>
                          </li>

                          <li class="list-group-item bg-light">
                            DIAGNOSTICO TECNICO: <%= orden.diagnostico %>
                          </li>
                          <li class="list-group-item bg-light">
                            MANO DE OBRA: $<%= orden.costo %>
                          </li>
                          <li class="list-group-item bg-light">
                            TOTAL: $<%= orden.total %>
                          </li>
                          <li class="list-group-item bg-light"></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-1">
                  <% if(tomar && user.isTecnico){ %>

                  <button
                    class="btn btn-primary btn_tomar"
                    id="<%= orden.nrocompro%>-btn_tomar"
                  >
                    Tomar
                  </button>

                  <% } %>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>

    <!-- JS -->
    <%- include("./partials/js.ejs") %>
    <script src="/js/tomar_orden.js"></script>
  </body>
</html>
